In [2]:
print(x="5")

TypeError: 'x' is an invalid keyword argument for print()

In [3]:
X=5

In [4]:
Y=7

In [5]:
print(X+Y)

12

In [6]:
age=33

In [7]:
age-min=20

SyntaxError: cannot assign to operator (<ipython-input-7-d23a7582c468>, line 1)

In [8]:
age_min=20

In [11]:
if age>age_min:print("Ridha can learn Python 3")

Ridha can learn Python 3

In [12]:
print("age")

age

In [13]:
print(age)

33

In [23]:
X=5

In [27]:
if X>3:
    print("X Greater than 3")
else:
    print("X lower than 3")

X Greater than 3

In [22]:
print(X)

3

In [35]:
Mylist=["Youssef","Myriam","Emna", "Ibrahim"]

In [36]:
print(Mylist[3])

Ibrahim

In [38]:
print(len(Mylist))

4

In [39]:
mylist=[1, 56, "hello", [7, 20], True]

In [40]:
print(len(mylist[3]))

2

In [78]:
Mylist=["Youssef","Myriam","Emna", "Ibrahim"]

In [44]:
print(len(mylist[3]))

2

In [45]:
Mylist.append("Soumaya")

In [48]:
print(Mylist[4])

Soumaya

In [49]:
Mylist.insert(2,"Fatma")

In [50]:
print(Mylist[5])

Soumaya

In [51]:
print(Mylist[3])

Emna

In [52]:
print(Mylist[2])

Fatma

In [53]:
Mylist.remove("Soumaya")

In [54]:
print(Mylist)

['Youssef', 'Myriam', 'Fatma', 'Emna', 'Ibrahim']

In [73]:
MyDict={"Name":"MEFTAH", "Last Name":"RIDHA", "year": 1978}

In [75]:
print(MyDict)

{'Name': 'MEFTAH', 'Last Name': 'RIDHA', 'year': 1978}

In [76]:
variable=MyDict["Name"]

In [70]:
variable=MyDict["Name"]

In [77]:
variable=MyDict.get("Name")

In [79]:
for x in Mylist:
    print(x)

Youssef
Myriam
Emna
Ibrahim

In [80]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [81]:
i=1
while i<6:
    print(i)
    i+=2

1
3
5

In [82]:
i=1
while i<25:
    print(i)
    i+=5

1
6
11
16
21

In [83]:
counter = 0
while counter<3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [85]:
def my_function():
    print("Hello Youssef")
my_function()

Hello Youssef

In [86]:
def my_function(parameter):
    print("I want to learn "+parameter)
my_function("to code!")
my_function("to do AI!")

I want to learn to code!
I want to learn to do AI!

In [87]:
def my_function(parameter):
    print("I want to learn "+parameter)
my_function("Strategy!")
my_function("to do AI!")

I want to learn Strategy!
I want to learn to do AI!

In [88]:
def my_function(first_parameter, second_parameter):
    print("First parameter: "+first_parameter)
    print("Second parameter: "+second_parameter)
my_function("Hello", "youssef!")

First parameter: Hello
Second parameter: youssef!

In [90]:
def my_function(country="Tunisia"):
    print("I am from "+country)
my_function("Tunisia")
my_function("France")
my_function("Algeria")

I am from Tunisia
I am from France
I am from Algeria

In [92]:
def my_function(x):
    return 10*x
print(my_function(0))
print(my_function(1))
print(my_function(2))

0
10
20

In [95]:
sunm = lambda a,b,c : a+b+c

In [102]:
year = lambda ch : ch[:4]
ch = "20200310"
print(year(ch))

2020

In [101]:
sum = lambda a,b,c,d : a+b+c+d
print(sum(1,5,10,4))

20